<div class="jumbotron">
  <h1>All Products</h1>
</div>
<div class="letters blue">
  <% letters1 = ('A'..'M').to_a %>
  <% letters2 = ('N'..'Z').to_a %>
  <table class="table">
    <tr>
      <%letters1.each do |letter|%>
        <td><%= link_to "#{letter}", products_path(:letter => letter)%></td>
      <%end%>
    </tr>
    <tr>
      <%letters2.each do |letter|%>
        <td><%= link_to "#{letter}", products_path(:letter => letter)%></td>
      <%end%>
    </tr>
  </table>
</div>
<div class="row">
<div class="col green">
  <div class="options">
    <select name="scope" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
      <option value="<%= products_path %>" selected>Sort by...</option>
      <option value="<%= products_path %>?sort=all">View All</option>
      <option value="<%= products_path %>?sort=local">Made in the USA</option>
      <option value="<%= products_path %>?sort=most_reviews">Most Reviews</option>
      <option value="<%= products_path %>?sort=recently_added">Recently Added</option>
    </select>
  </div>
  <br><br><br>
  <% if @user.nil? == false %>
  <% if @user.admin == true %>
  <div class="private">
    <p class="click"><%= link_to "Create new product", new_product_path %></p><br><br>
  </div>
  <% end %>
  <% end %>
  <p class="click"><%= link_to "Back to Home Page", root_path %></p>

</div>
<div class="col blue">
  <div class="content products">
    <%if @products.any?%>
    <ul>
      <%@products.each do |product|%>
      <li><%= link_to product.name, product_path(product)%></li>
      <%end%>
    </ul>
    <%else%>
    <p>No products to display.</p>
    <%end%>
  </div>
</div>
<div class="col purple">

</div>
</div>
