<div class="jumbotron">
  <h1>Product Name: <%= @product.name %></h1>
</div>
<div class="content">
  <%if @product.reviews.any?%>
  <ul>
    <%@product.reviews.each do |review|%>
    <% stars= []%>
    <% review.rating.to_i.times do %>
    <% stars.push("★")%>
    <%end%>
    <li><%=stars.join%>-<i><%= link_to review.author, product_review_path(@product, review)%></i></li>
    <%end%>
  </ul>
  <%else%>
  <p>No reviews to display.</p>
  <%end%>
  <p><%= link_to "Edit product", edit_product_path(@product)%></p>
  <p><%= link_to "Delete product", product_path(@product),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %></p>
    <p><%= link_to "Create new review", new_product_review_path(@product) %></p>
  </div>
