<div class="center">
  <%= render "layouts/errors", :object => @review%>
</div>
<%=form_for [@product, @review] do |f|%>
<div class="row forms">
  <div class="col greenform">

    <%=f.label :Your_Name%>
    <br>
    <%=f.text_field :author%>
  </div>
  <div class="col blueform">
    <div class="form-group rating">
      <label>
        <input type="radio" name="review[rating]" id="stars" value="1"><span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="review[rating]" id="stars" value="2"><span class="icon">★</span><span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="review[rating]" id="stars" value="3"><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="review[rating]" id="stars" value="4"><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="review[rating]" id="stars" value="5"><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span><span class="icon">★</span>
      </label>
    </div>
    <br><br>
    <%=f.submit%>
  </div>
  <div class="col purpleform">
    <div class="wrapper">
    <%=f.label :Review%>
    <p class="small">Reviews should be between 50 and 250 characters.</p>
    <%=f.text_area :content, :maxlength=>"250", :placeholder=>"After trying Jupter Foods..."%>
  </div>
  </div>
  <%end%>
</div>
