<!DOCTYPE html>
<html>
<head>
  <title>JupiterFoods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="registration">
    <% if user_signed_in? %>
    <div class="dropdown">
      <button id="user_options" name="user_dropdown" onChange="window.document.location.href=this.options[this.selectedIndex].value;"><%= current_user.email %></button>
      <div class="dropdown-content">
        <a href="/users/edit" class="user_options" id="user_edit" value="<%=  edit_user_registration_path %>">Edit Account</a>
        <a href="/users/sign_out" data-method="delete" class="user_options" id="user_signout" value="<%=  destroy_user_session_path %>">Sign Out</a>
      </div>
    </div>
    <% else %>
    <p><%= link_to "Sign-In/Sign-Up", new_user_session_path%></p>
    <% end %>
  </div>
  <div class="notice">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <%= yield %>
</body>
</html>
