<!DOCTYPE html>
<html>
<head>
  <title>JupiterFoods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="registration">
    <% if user_signed_in? %>
    <!-- <div class="dropdown">
      <button type="button" data-target="#myDropdown" class="btn btn-secondary dropdown-toggle" href="/" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu" id="myDropdown">
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
      </ul>
    </div>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div> -->
    <p><%= link_to current_user.email, edit_user_registration_path%></p>
    <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete%></p>
    <% else %>
    <p><%= link_to "Sign-In/Sign-Up", new_user_session_path%></p>
    <% end %>
  </div>
  <div class="notice">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <%= yield %>
</body>
</html>
